//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary: #60BFFF;
$secondary: #7717A7;
$hightlight: #308BFF;
// $white: #E6E6E6;
