//  ================================================================================================
//  File Name: variables-dark.scss
//  Description: Custom dark theme variables
//  ----------------------------------------------------------------------------------------------
//  Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
//  Author: PIXINVENT
//  Author URL: http://www.themeforest.net/user/pixinvent
//  ================================================================================================

//  ================================================================================================
//  WARNING: PLEASE DO NOT CHANGE THIS VARIABLE FILE.
//  THIS FILE WILL GET OVERWRITTEN WITH EACH VUEXY HTML TEMPLATE RELEASE.
//  TIP:
//  We suggest you to use this (assets/scss/variables/_variables-components.scss) file for overriding components variables.
//  ================================================================================================

//Body
$theme-dark-body-bg: #282a30 !default;
$theme-dark-body-color: #b4b7bd !default;
$theme-dark-border-color: #43464e !default;
$theme-dark-custom-control-border-color: #46444f !default;

//Typography
$theme-dark-headings-color: #d0d2d6 !default;
$theme-dark-label-color: #d0d2d6 !default;
$theme-dark-text-muted-color: #6d7079 !default;

//Card
$theme-dark-card-bg: #363942 !default;
$theme-dark-box-shadow: 0 4px 24px 0 rgba($black, 0.24);

//Input
$theme-dark-input-bg: #363942 !default;
$theme-dark-input-placeholder-color: #676d7d !default;
$theme-dark-input-border-color: #404656 !default;
$theme-dark-input-disabled-bg: #2d2c39 !default;
$theme-dark-input-disabled-border-color: #50545e !default;

// Switch
$theme-dark-switch-bg: #545a6a;
$theme-dark-switch-bg-disabled: #2c303a;

//Table
$theme-dark-table-bg: #363942 !default;
$theme-dark-table-header-bg: #404654 !default;
$theme-dark-table-row-bg: #363942 !default;
$theme-dark-table-hover-bg: #34373d !default;
$theme-dark-table-striped-bg: #34373d !default;

$theme-dark-modal-header-bg: #21242c !default;
$theme-dark-pagination-bg: #34373d !default;
$theme-dark-chart-bg: #444853 !default;
$theme-dark-widget-bg: #444853 !default;
